<a href="https://colab.research.google.com/github/Ahtesham-Ibne-Mostafa/Data_Genesis/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
dataset = pd.read_csv('/content/banking.csv')

In [12]:
dataset.tail(3)

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp_var_rate,cons_price_idx,cons_conf_idx,euribor3m,nr_employed,y
41185,42,admin.,single,university.degree,unknown,yes,yes,telephone,may,wed,...,3,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,0
41186,48,technician,married,professional.course,no,no,yes,telephone,oct,tue,...,2,999,0,nonexistent,-3.4,92.431,-26.9,0.742,5017.5,0
41187,25,student,single,high.school,no,no,no,telephone,may,fri,...,4,999,0,nonexistent,1.1,93.994,-36.4,4.859,5191.0,0

In [7]:
# Task 2

data = {'name':['a','b','c','d','e'],
'age': [20,17,32,45,15]}
df = pd.DataFrame(data)
df.describe()

             age
count   5.000000
mean   25.800000
std    12.597619
min    15.000000
25%    17.000000
50%    20.000000
75%    32.000000
max    45.000000

In [9]:
# Task 3

data = {'name':['a','b','c','d','e'],
'age': [71,17,32,45,15],

}
df = pd.DataFrame(data)
df['adult'] = df['age'].apply(lambda x: 'yes' if x > 18 else 'no')

df.head()

  name  age adult
0    a   71   yes
1    b   17    no
2    c   32   yes
3    d   45   yes
4    e   15    no

In [10]:
# Task 4

df['adult'] = df['adult'].apply(lambda x: '1' if x == 'yes' else '0')

df .head()

  name  age adult
0    a   71     1
1    b   17     0
2    c   32     1
3    d   45     1
4    e   15     0

In [17]:
# Task 5

data = pd.DataFrame({'color': ['red', 'blue', 'green', 'blue', 'red']})

data = pd.get_dummies(data['color'])
data.columns = ['color_' + col for col in data.columns]

print(data)

   color_blue  color_green  color_red
0           0            0          1
1           1            0          0
2           0            1          0
3           1            0          0
4           0            0          1

In [23]:
dataset.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp_var_rate,cons_price_idx,cons_conf_idx,euribor3m,nr_employed,y
0,44,blue-collar,married,basic.4y,unknown,yes,no,cellular,aug,thu,...,1,999,0,nonexistent,1.4,93.444,-36.1,4.963,5228.1,0
1,53,technician,married,unknown,no,no,no,cellular,nov,fri,...,1,999,0,nonexistent,-0.1,93.200,-42.0,4.021,5195.8,0
2,28,management,single,university.degree,no,yes,no,cellular,jun,thu,...,3,6,2,success,-1.7,94.055,-39.8,0.729,4991.6,1
3,39,services,married,high.school,no,no,no,cellular,apr,fri,...,2,999,0,nonexistent,-1.8,93.075,-47.1,1.405,5099.1,0
4,55,retired,married,basic.4y,no,yes,no,cellular,aug,fri,...,1,3,1,success,-2.9,92.201,-31.4,0.869,5076.2,1

In [56]:
# Task 6          dataset is from task 1

loans = len(dataset[(dataset['marital'] == 'married') & (dataset['loan'] == 'yes')])

print(loans)

3773

In [42]:
# Task 7

Data = {'name':['A','B','C','D','E','F','G','H'],
'selary': ['10020',None,'15500',None,None,'18200','25300','12500']}

df = pd.DataFrame(Data)

df['selary'] = pd.to_numeric(df['selary'], errors='coerce')

average=df.describe()['selary'][1]

df['selary'].fillna(average, inplace=True)

print(df)

  name   selary
0    A  10020.0
1    B  16304.0
2    C  15500.0
3    D  16304.0
4    E  16304.0
5    F  18200.0
6    G  25300.0
7    H  12500.0

In [47]:
# Task 8            dataset is from task 1

marriage_age = dataset[dataset['marital'] == 'married']['age'].min()
print('married age :',marriage_age)
loan_age = dataset[dataset['loan'] == 'yes']['age'].min()
print('Loan age :', loan_age)

married age : 20
Loan age : 17

In [62]:
# Task 9

dataset.head()

count = len(dataset[(dataset['marital'].isin(['single', 'divorced'])) & (dataset['loan'] == 'yes')])

divorce_rate = (len(dataset[dataset['marital'] == 'divorced']) / len(dataset) )* 100

print(count)

print('Divorce rate :', divorce_rate)

2463
Divorce rate : 11.197436146450421