In [3]:
import pandas as pd
import numpy as np

In [17]:
dataset=pd.read_csv("wta.csv")

In [18]:
dataset.head()

,Tournament,Date,Court,Surface,Round,Best of,Player_1,Player_2,Winner,Rank_1,Rank_2,Pts_1,Pts_2,Odd_1,Odd_2,Score
0,ASB Classic,2007-01-01 00:00:00,Outdoor,Hard,1st Round,3,Sun T.T.,Baker L.,Sun T.T.,81,272,332,90,1.33,3.00,6-1 6-1
1,ASB Classic,2007-01-01 00:00:00,Outdoor,Hard,1st Round,3,Myskina A.,Dulko G.,Dulko G.,16,59,1000,401,1.22,3.75,1-6 7-6 2-6
2,ASB Classic,2007-01-01 00:00:00,Outdoor,Hard,1st Round,3,Loit E.,Birnerova E.,Loit E.,56,84,418,324,1.72,2.00,6-1 6-1
3,ASB Classic,2007-01-01 00:00:00,Outdoor,Hard,1st Round,3,Nakamura A.,Craybas J.,Craybas J.,57,70,405,365,1.83,1.83,5-7 2-6
4,ASB Classic,2007-01-01 00:00:00,Outdoor,Hard,1st Round,3,Bartoli M.,Morita A.,Bartoli M.,18,180,951,152,1.16,4.50,7-6 6-3

In [19]:
df=dataset.head(5000)

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 16 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Tournament  5000 non-null   object
 1   Date        5000 non-null   object
 2   Court       5000 non-null   object
 3   Surface     5000 non-null   object
 4   Round       5000 non-null   object
 5   Best of     5000 non-null   int64
 6   Player_1    5000 non-null   object
 7   Player_2    5000 non-null   object
 8   Winner      5000 non-null   object
 9   Rank_1      5000 non-null   int64
 10  Rank_2      5000 non-null   int64
 11  Pts_1       5000 non-null   int64
 12  Pts_2       5000 non-null   int64
 13  Odd_1       5000 non-null   object
 14  Odd_2       5000 non-null   float64
 15  Score       5000 non-null   object
dtypes: float64(1), int64(5), object(10)
memory usage: 625.1+ KB

In [21]:
from sklearn.preprocessing import LabelEncoder

encoder = LabelEncoder()

dataset['Tournament'] = encoder.fit_transform(dataset['Tournament'])
dataset['Date']  = encoder.fit_transform(dataset['Date'])
dataset['Court']  = encoder.fit_transform(dataset['Court'])

In [ ]:
,'Court','Surface','Round','Player_1','Player_2','Winner','Odd_1','Odd_2','Score'

In [24]:
def convert(st):
    try :
        st = float(st)
        return float(st)
    except Exception as e:
        return None
df.Odd_1 = df.Odd_1.apply(convert)
df.Odd_1.isnull().sum()

1

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 16 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Tournament  5000 non-null   object
 1   Date        5000 non-null   object
 2   Court       5000 non-null   object
 3   Surface     5000 non-null   object
 4   Round       5000 non-null   object
 5   Best of     5000 non-null   int64
 6   Player_1    5000 non-null   object
 7   Player_2    5000 non-null   object
 8   Winner      5000 non-null   object
 9   Rank_1      5000 non-null   int64
 10  Rank_2      5000 non-null   int64
 11  Pts_1       5000 non-null   int64
 12  Pts_2       5000 non-null   int64
 13  Odd_1       4999 non-null   float64
 14  Odd_2       5000 non-null   float64
 15  Score       5000 non-null   object
dtypes: float64(2), int64(5), object(9)
memory usage: 625.1+ KB

In [28]:
df['Score'].apply(len)

5000

In [40]:
lst=[]
for i in df['Score']:
    f=i.split(' ')
    if f[2]=='':
        a=int(f[0].split('-')[0])+int(f[1].split('-')[0])
    else:
        a=int(f[0].split('-')[1])+int(f[1].split('-')[1])+int(f[2].split('-')[1])
    lst.append(a)
print(a)
df['Player_1_Score']

ValueError: invalid literal for int() with base 10: ''